<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />

    

</head>
<body>
    
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/Home/index">Pakistan Bazaar</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                    @if (Session["Name"] == null)
                    {
                        <li>
                            <a href="/Home/SignIn">SignIn</a>
                        </li>
                        <li>
                            <a href="/Home/SignUp">Register</a>
                        </li>
                    }

                    @if (Session["Name"] != null)
                    {
                        <li>
                            <a href="/Users/MyProfile">@Session["Name"] </a>
                        </li>


                    }
                    <li>
                        <a href="/Home/About">About us</a>
                    </li>
                    <li>
                        <a href="/Home/Contact">Contact us</a>
                    </li>
                    @if ((string)Session["Name"] == "User" )
                    {
                        <li>
                            <a href="/PostAd/Post">Post A Add </a>
                        </li>


                    }
                    @if (Session["Name"] != null)
                    {
                        <li>
                            <a href="/Users/LogOut">Log out</a>
                        </li>


                    }

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    
                    <p>&copy; @DateTime.Now.Year - Pakistan Bazaar</p>

                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <p><b>ContactUs</b> </p>

                        </div>
                        <div class="col-lg-3">
                            <a href="https://www.facebook.com/M.AfzalAkram">Facebook
                                <img src="~/Images/fb.png" style="height:20px;width:20px" />
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="https://twitter.com/shahid_sunshine">Twitter
                                <img src="~/Images/tw.png" style="height:20px;width:20px" />
                            </a>

                        </div>
                          
                                            
                    </div>

                                           
                        
                </div>
            </div>
            <center><p style="background-color:#808080"><b>Live with Style</b></p></center>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->

    <script src="~/Scripts/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>