<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/content/modern-business.css" rel="stylesheet">
    



</head>

<body>

  

    <!-- Page Content -->
    <div class="container">
        <h2>About Us</h2>
        <p>Student At<br>Punjab University College of Information Technology (PU)<br>BS Computer Science.</p>
    </div>
   
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
