<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/content/modern-business.css" rel="stylesheet">

  

</head>

<body>

    

    <!-- Page Content -->
    <div class="container">
        <hr>
        <div class="col-md-4">
            <h2>Contact Details</h2>
            <p>
                786 Golden Plaza<br>Lahore Punjab PK, Zip: 54000<br>
            </p>
            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Phone">P</abbr>: (+92) 0900-78601
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">E</abbr>: <a href="bcsf12m548@pucit.edu.pk">name@example.com</a>
            </p>
            <p>
                <i class="fa fa-clock-o"></i>
                <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
            </p>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

  

</body>

</html>
