<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/content/modern-business.css" rel="stylesheet">

  

</head>

<body>

    

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2" style="height:100% ;background-color:#ffd800">

            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="height:100% ;background-color:#4cff00">
                

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2" style="height:100% ;background-color:#ffd800">

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" style="height:100%">

            <img src="~/Images/Logo.PNG" style="height:100%; width:100%" />
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6" style="height:100%">
           <center>
               <h2>About Us</h2>
               <p>Student At<br>Punjab University College of Information Technology (PU)<br>BS Computer Science.</p>
           </center>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-3" style="height:100%">

            <img src="~/Images/contact.png" style="height:100%; width:100%; margin-top:75px" />
        </div>
    </div>

    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

  

</body>

</html>
